<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.altudo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".IntroActivity">
        </activity>
        <activity android:name=".ProfileActivity" />
        <activity android:name=".BodoAmatActivity" />
        <activity android:name=".FilosofiActivity" />
        <activity android:name=".AnakActivity" />
        <activity android:name=".GarisActivity" />
        <activity android:name=".TentangActivity" />
        <activity android:name=".HabitActivity" />
        <activity android:name=".GreatActivity" />
        <activity android:name=".MeaningActivity" />
        <activity android:name=".DaunActivity" />
        <activity android:name=".LimacmActivity" />
        <activity android:name=".DilanActivity" />
        <activity android:name=".PemimpiActivity" />
        <activity android:name=".LaskarActivity" />
        <activity android:name=".MenaraActivity" />
        <activity android:name=".BumimanActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>